h1 Editando Configuração de Transferência de arquivo

== render 'form'

hr
= link_to 'Exibir', @file_download_rule, class: 'btn btn-default'
= link_to 'Voltar', file_download_rules_path, class: 'btn btn-default'

