h1 Editando Configuração de Transferência de arquivo

== render 'form'

hr
= link_to 'Exibir', @transfer_bot, class: 'btn btn-default'
= link_to 'Voltar', transfer_bots_path, class: 'btn btn-default'

