= form_for(@parse_config, html: { class: "form-horizontal", role: "form" }) do |f|
  = render partial: 'subform', locals: {form: f}
  .col-sm-offset-2
    = f.submit class: "btn btn-primary", value: t(:save, scope: 'parse_config')
