@import "bootstrap-sprockets";
@import "bootstrap";

body{ margin-top: 70px;}
.form-control{padding: 6px 12px;}


.float-none {
  float: none;
}

.panel-heading {
  padding: 15px;
  h4 {
    margin: 0px;
  }
}
