// Place all the styles related to the TransmissionRequests controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/ 

.action { 
  @include border-top-radius(3px); 
  @include border-bottom-radius(3px); 
  @extend .fa; 
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: $label-color;
  padding: 4px 5px 4px 5px;
  text-align: center;
  white-space: nowrap;
  box-sizing: border-box;
  vertical-align: baseline;
  cursor: pointer; 

  &.action-update { @extend .fa-pencil; 
    background-color: $label-info-bg; 
  }
  &.action-resume { @extend .fa-play; 
    background-color: $label-warning-bg; 
  }
  &.action-pause { @extend .fa-pause; 
    background-color: $label-warning-bg; 
  }
  &.action-cancel{ @extend .fa-remove; 
    background-color: $label-danger-bg; 
  }
}

