div.row
  div.col-md-8.col-md-offset-2
    = render partial: 'tabs'
    p
    .panel.panel-primary
      .panel-heading
        | Definições de conteúdo
      .panel-body
        = simple_form_for @transmission_request, {method: :put, url: wizard_path}.merge(simple_form_horizontal_setup)  do |f| 
          =  f.simple_fields_for :options, @transmission_request.options do |ff|
            = ff.input :column_of_number , collection: @transmission_request.composer.available_fields, required: true
            = ff.input :message_defined_at_column , as: :boolean
            = ff.input :column_of_message , collection: @transmission_request.composer.available_fields, required: false
            = ff.input :custom_message, as: 'text', required: false


          h4
            | Preview de dados
          #parse-preview 
            .content 
          hr
          div [style="text-align:right" ]
            = f.submit class: 'btn btn-primary', value: "Próximo passo" 

- content_for :footer_js
  javascript: 
    function transmission_request_message_form_update(){
      message_defined_at_column_checkbox = $('#transmission_request_options_message_defined_at_column');
      message_defined_at_column = message_defined_at_column_checkbox.prop('checked')
        if (message_defined_at_column){
          $('#transmission_request_options_column_of_message').parents('.form-group').show();
          $('#transmission_request_options_custom_message').parents('.form-group').hide();
        }else{
          $('#transmission_request_options_column_of_message').parents('.form-group').hide();
          $('#transmission_request_options_custom_message').parents('.form-group').show();
        }
    };
    function reload_parse_preview(){
      var form =  $('form.edit_transmission_request');
      var data = $(form).serialize();
      $('#parse-preview .content').load(
        '#{parse_preview_transmission_request_path(@transmission_request)}', 
        data,  
        function (responseText, textStatus, req) {
          if (textStatus == "error") {
            $(this).html('<div class="alert alert-warning">Impossível interpretar arquivo com essas configurações!</span>');
          }
        }
      );
    }
    $(function(){
      reload_parse_preview();
      $('form.edit_transmission_request input').change(reload_parse_preview);
      $('form.edit_transmission_request select').change(reload_parse_preview);
    });

    $(function(){
      $('#transmission_request_options_message_defined_at_column').change(function(){
        transmission_request_message_form_update();
      });
      transmission_request_message_form_update();
    });
